/* 

-------------------------------------------------------------

NAVIGATION

*/
body{
  background-color: white;
}

header.header {
  background: rgba(41, 41, 41, 0.95);
  -webkit-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 20;
  top:0px;
  left:0px;
  }

nav.navigation {
	/*@include transition(1s all $easeOutQuint);*/
	font-family:"aktiv-grotesk-std", sans-serif;
	line-height:60px;
	width:100%;
	position:absolute;
	right:10px;
  top:0px;
	font-weight:400;
	font-size:14px;
	text-transform:uppercase;
	text-align:right;
	z-index:10;

	/*@include breakpoint(large) {
		font-size:12px;
		right:250px;
	}

	/*@include breakpoint(medium) { display:none; }*/
  
  }
  
nav.navigation	ul {
		list-style:none;
		margin:0px;
		padding:0px;
    top:0px;
		float:right;
		margin-right:20px;
	}

nav.navigation	li {
		position:relative;
		float:left;
	}

nav.navigation	a {
		margin:0px 10px;
		padding:0px 5px;
		color:#ffffff;
		letter-spacing:1px;
		display:block;
    text-decoration: none;
		.sandwich {
			margin-left:5px;
			margin-top:2px;
		}

		@include breakpoint(large) { margin:0px 5px; }
	}

nav.navigation	a:hover {
		color:$red;
		.sandwich span, .sandwich span:before, .sandwich span:after {
			background:$red;
		}	
	}
  
nav.navigation	 .search{
  width:60px;
  height:60px;
  border-right:2px solid rgba(255,255,255,0.1);
  border-left:2px solid rgba(255,255,255,0.1);
  }  

header.header-active, .search-active {
	nav.tools {
		top:0px;

		@include breakpoint(medium) { right:75px; }

		.search {
			display:inline-block;
			margin-right:20px;
		}
	}

	nav.menu-btn {
		top:20px;

		@include breakpoint(medium) { right:25px; }
	}

	nav.navigation {
		top:0px;
	}
}

div.navigation-menu-modal{
}

div.navigation-menu-modal li{
  right: 10px;
}

div.navigation-menu-modal .column-two{


}


div.ReactModalPortal{
  z-index:100;
}